<mat-card class="response + {{ state }}" [class.new]="isNew">
    <div *ngIf="isInMode(['view', 'create-view', 'view-not-answerable'])" class="date-view">
        <div class="date"><p> {{ "survey.begin" | translate }} </p> {{ this.form.get('start')?.value }} </div>
        <div class="date" *ngIf="isEndPresent()"><p>{{ "survey.end" | translate }}</p> {{
            this.form.get('end')?.value}}
        </div>
        <div class="button-container" *ngIf="isInMode(['view'])">
            <button mat-icon-button (click)="setResponse(true)" class="accept">
                <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="setResponse(false)" class="reject">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </div>
    <form *ngIf="isInMode(['create', 'edit'])" [formGroup]="form" class="input-container">
        <mat-form-field class="date-input">
            <mat-label>{{ "survey.beginField" | translate }}</mat-label>
            <input matInput formControlName="start" placeholder="YYYY-MM-DD hh:mm" (blur)="onBlur()"/>
        </mat-form-field>
        <mat-form-field class="date-input">
            <mat-label>{{ "survey.endField" | translate }}</mat-label>
            <input matInput formControlName="end" placeholder="YYYY-MM-DD hh:mm" (blur)="onBlur()"/>
        </mat-form-field>
    </form>
    <div *ngIf="isInMode(['create'])" class="button-container">
        <button mat-icon-button class="accept" (click)="onChange()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <button mat-icon-button disableRipple color="warn" *ngIf="isInMode(['edit','create-view'])" class="delete-button"
            (click)="onDelete()">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-error *ngIf="formError">Ungültiges Datum</mat-error>
</mat-card>
