version: "3.8"

services:
    proxy:
        build:
            context: reverse-proxy
            dockerfile: Dockerfile
        ports:
            - "2020:2020"
        networks:
            - services
            - default
    frontend:
        build:
            context: .
            dockerfile: frontend/Dockerfile
        networks:
            - services
        depends_on:
            - backend
    backend:
        build:
            context: .
            dockerfile: backend/Dockerfile
        environment:
            - "SERVER_SERVLET_CONTEXT_PATH=/api"
            - "SPRING_PROFILES_ACTIVE=${NOODLE_PROFILE:-prod}"
            - "NOODLE_MAIL_HOST=${NOODLE_MAIL_HOST}"
            - "NOODLE_MAIL_PORT=${NOODLE_MAIL_PORT}"
            - "NOODLE_MAIL_USER=${NOODLE_MAIL_USER}"
            - "NOODLE_MAIL_FROM=${NOODLE_MAIL_FROM}"
            - "NOODLE_MAIL_PASSWORD=${NOODLE_MAIL_PASSWORD}"
            - "NOODLE_SECURITY_EXPIRATION_TIME=${NOODLE_SECURITY_EXPIRATION_TIME}"
            - "NOODLE_SECURITY_SECRET=${NOODLE_SECURITY_SECRET}"
            - "NOODLE_SECURITY_PEPPER=${NOODLE_SECURITY_PEPPER:-pepper}"
        networks:
            - services
        volumes:
            - db-data:/var/lib/noodle/data

volumes:
    db-data:

networks:
    services:
