<div class="info">
    <div class="title">
        <mat-form-field class="form-field">
            <mat-label>{{ "survey.title" | translate }}</mat-label>
            <input matInput  [(ngModel)]="title" name="title">
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>{{ "survey.description" | translate }}</mat-label>
            <textarea matInput [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
    </div>
</div>
<div class="responses">
    <div class="container" *ngFor="let timeslot of timeSlots; let itemIndex = index">
        <app-response class="response" [mode]="'create-view'" [timeSlot]="toBo(timeslot)"
                      (deleted)="onDelete(itemIndex)"></app-response>
    </div>
    <app-response class="response" [mode]="'create'" (timeslotChanged)="createTimeSlot($event)"></app-response>
</div>
<mat-error *ngIf="duplicateError">{{ "survey.errors.duplicate_error" | translate }}</mat-error>
<div class="buttonWithErrorMsg">
    <mat-error *ngIf="saveError">{{ "survey.errors.saveError" | translate }}</mat-error>
    <div class="buttons">
        <button mat-raised-button class="button"
                (click)="onNoClick()">{{ "back" | translate }}</button>
        <button mat-raised-button color="primary" class="button"
                (click)="submit()">{{ "survey.save" | translate }}</button>
    </div>
</div>
