.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.form-field
    width: 100%

.button
    margin: 10px

.buttons
    display: flex
    flex-direction: row
    justify-content: flex-end

.responses
    display: flex
    flex-direction: row
    overflow-x: scroll
    padding: 10px

.response
    margin: 5px

.input
    max-width: 100px

.mat-form-field
    width: 100%
