<mat-card class="card">
    <mat-tab-group [(selectedIndex)]="selectedIndex">
        <mat-tab label='{{ "survey.tabs.dashboard" | translate }}'>
            <app-dashboard></app-dashboard>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.fixed_appointments" | translate }}'>
            <app-abstract-survey-table [filter]="{ isClosed: true, didParticipateIn: true, isUpcoming: true }"></app-abstract-survey-table>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.my_surveys" | translate }}'>
            <app-abstract-survey-table [filter]="{ isOwnSurvey: true }"></app-abstract-survey-table>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.answered_surveys" | translate }}'>
            <app-abstract-survey-table [filter]="{ didParticipateIn: true, isUpcoming: true }"></app-abstract-survey-table>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.open_surveys" | translate }}'>
            <app-abstract-survey-table [filter]="{ isUpcoming: true }"></app-abstract-survey-table>
        </mat-tab>
    </mat-tab-group>
</mat-card>
