<mat-card class="card">
    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="setSelectedIndex($event)">
        <mat-tab label='{{ "survey.tabs.dashboard" | translate }}'>
            <ng-template matTabContent>
                <app-dashboard></app-dashboard>
            </ng-template>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.fixed_appointments" | translate }}'>
            <ng-template matTabContent>
                <app-abstract-survey-table [filter]="{ acceptsSelectedTimeslot:true }"></app-abstract-survey-table>
            </ng-template>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.my_surveys" | translate }}'>
            <ng-template matTabContent>
                <app-abstract-survey-table [filter]="{ isOwnSurvey: true }"></app-abstract-survey-table>
            </ng-template>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.answered_surveys" | translate }}'>
            <ng-template matTabContent>
                <app-abstract-survey-table [filter]="{ didParticipateIn: true, requiresAttention: false, isOwnSurvey: false}"></app-abstract-survey-table>
            </ng-template>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.open_surveys" | translate }}'>
            <ng-template matTabContent>
                <app-abstract-survey-table [filter]="{ didParticipateIn: false, isClosed: false }"></app-abstract-survey-table>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>
