<mat-card class="card">
    <mat-tab-group>
        <mat-tab label='{{ "survey.tabs.dashboard" | translate }}'>
            <app-dashboard></app-dashboard>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.fixed_appointments" | translate }}'>
            <app-fixed-appointment-view></app-fixed-appointment-view>
        </mat-tab>
        <mat-tab label='{{ "survey.tabs.my_surveys" | translate }}'> Content 3</mat-tab>
        <mat-tab label='{{ "survey.tabs.answered_surveys" | translate }}'> Content 4</mat-tab>
        <mat-tab label='{{ "survey.tabs.open_surveys" | translate }}'> Content5</mat-tab>
    </mat-tab-group>
</mat-card>
