<mat-card class="card">
    <h1 class="greeting">{{ 'auth.sign_up.welcome' | translate }}</h1>
    <span class="greeting2">{{ 'auth.sign_up.greeting' | translate }}</span>
    <form class="auth-form" name="form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="auth-full-width">
            <mat-label>{{ 'auth.sign_up.enter.name' | translate }}</mat-label>
            <input matInput type="text" formControlName="name" placeholder='{{ "auth.name" | translate }}' required>
            <mat-error *ngIf="isError(form, 'name')">{{ 'auth.sign_up.errors.name_required' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="auth-full-width">
            <mat-label>{{ 'auth.sign_up.enter.email' | translate }}</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="isError(form,'email')">{{ 'auth.sign_up.errors.invalid_mail' | translate }}</mat-error>
        </mat-form-field>
        <button [disabled]="!isFormValid()" mat-raised-button type="submit" color="primary" class="button">{{ "auth.sign_up.display" | translate }}</button>
    </form>
</mat-card>
