<mat-card class="card">
    <h1 class="greeting">Nice to see you again</h1>
    <form class="auth-form">
        <mat-form-field class="auth-full-width">
            <mat-label>E-Mail</mat-label>
            <input matInput placeholder="E-Mail">
        </mat-form-field>
        <mat-form-field class="auth-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password">
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="button">Sign in</button>
</mat-card>
