<mat-card class="card">
    <h1 class="greeting">{{ "auth.sign_in.welcome" | translate }}</h1>
    <form class="auth-form">
        <mat-form-field class="auth-full-width">
            <mat-label>{{ "auth.email" | translate }}</mat-label>
            <input matInput placeholder='{{ "auth.email" | translate }}'>
        </mat-form-field>
        <mat-form-field class="auth-full-width">
            <mat-label>{{ "auth.password" | translate }}</mat-label>
            <input matInput placeholder='{{ "auth.password" | translate }}'>
        </mat-form-field>
    </form>
    <mat-error *ngIf="authError">{{ "auth.sign_in.error" | translate }}</mat-error>
    <button mat-raised-button color="primary" class="button" (click)="signIn()">{{ "auth.sign_in.display" | translate }}</button>
</mat-card>
