<mat-card class="container">
    <div class="info">
        <div class="title">
            <h2>Nudeln essen</h2>
            <span>Beschreibung: Wir essen zusammen Nudeln!</span>
        </div>
        <div class="edit">
            <button mat-mini-fab color="primary" aria-label="Edit">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
    <app-response-overview></app-response-overview>
    <div class="buttons">
        <button mat-raised-button color="warn" class="button">Delete</button>
        <button mat-raised-button color="primary" class="button">Save</button>
    </div>
</mat-card>
