name: Noodle Test CI

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Set up NodeJS 14.13.0
              uses: actions/setup-node@v1
              with:
                  node-version: 14.13.0

            # API Specification sub-task
            - name: Install API dependencies
              working-directory: ./api
              run: yarn --frozen-lockfile
            - name: Generate API specification
              working-directory: ./api
              run: yarn lint && yarn generate
            - uses: actions/upload-artifact@v2
              with:
                  name: API specification
                  path: api/target

            # Backend sub-task
            - name: Set up JDK 1.15
              uses: actions/setup-java@v1
              with:
                  java-version: 1.15
            - name: Build backend
              working-directory: ./backend
              run: ./gradlew assemble
            - uses: actions/upload-artifact@v2
              with:
                  name: Backend JAR
                  path: backend/build/libs
            - name: Test backend
              working-directory: ./backend
              env:
                  SPRING_PROFILES_ACTIVE: test
              run: ./gradlew test

            # Frontend sub-task
            - name: Install frontend dependencies
              working-directory: ./frontend
              run: yarn --frozen-lockfile
            - name: Build frontend
              working-directory: ./frontend
              run: yarn build
            - uses: actions/upload-artifact@v2
              with:
                  name: Frontend
                  path: frontend/dist/frontend
            - name: Test frontend
              working-directory: ./frontend
              run: yarn test-headless && yarn e2e
